.friend {
  width: 1000px;
  max-width: 1000px;
  background-color: #e91b24;
  border-radius: 0px 30px 30px 0px;
  margin-top: 2px;
  padding:10px;
  padding-right: 20px;
  margin-left: 5px;
  margin-right: 1000px;
  float: left;
}

.you {
  width: 1000px;
  background-color: grey;
  color: white;
  border-radius: 30px 0px 0px 30px;
  border-bottom-color: black;
  padding: 10px;
  padding-left: 20px;
  margin-left: 1000px;
  margin-top: 2px;
  margin-right: 5px;
  float: right;
}


.friend-time {
  color: black;
  float: right;
}

.you-time {
  color: white;
  float: left;
}